<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="/css/common.css" rel="stylesheet" type="text/css" />
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <title>Instagram</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="instagram-icon" href="/img/favicon.png">
</head>
<body>
<div class="container">
    <img href="/" class="logo_instagram" src="/img/logo_text.png" alt="instagram_logo">
    <h4 class="find1">로그인에 문제가 있나요?</h4>
    <p class="find2">이메일 주소, 사용자 이름을 입력하시면 계정에 다시 액세스할 수 있는 링크를 보내드립니다.</p>
    <form action="/findPassword" method="post">
        <input type="text" class="input_login" id="username" name="username" placeholder="전화번호, 사용자 이름 또는 이메일">
        <button type="submit" id="btn_findPw">비밀번호 재설정</button>
    </form>
</div>
<p>
<div>
    <a href="/members/new">회원 가입</a>
</div>
</p>
</body>
